@import "./variables.scss";

@mixin text-h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
}
@mixin text-h2 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
}
@mixin text-h3 {
  font-size: 18px;
  line-height: 24px;
}
@mixin text-h4 {
  font-size: 16px;
  line-height: 24px;
}
@mixin text-h5 {
  font-size: 14px;
  line-height: 20px;
}
@mixin text-h6 {
  font-size: 12px;
  line-height: 16px;
}
@mixin text-h7 {
  font-size: 10px;
  line-height: 16px;
}
@mixin flyout {
  border: $border;
  border-radius: $border-radius-lg;
  z-index: $z-index-100;
  background-color: var(--color-background);
  box-shadow: 0px 16px 24px rgba(33, 44, 51, 0.06),
    0px 2px 6px rgba(33, 44, 51, 0.04), 0px 0px 1px rgba(33, 44, 51, 0.04);
}

@mixin pageContainer {
  max-width: 848px;
  margin: auto;
  padding-left: 4px;
  padding-right: 4px;
  overflow: auto;
  height: calc(100vh - 90px);
}

@mixin panel {
  background-color: var(--color-panel);
  border: 1px solid var(--color-border);
  padding: 24px;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  min-width: 420px;
}
.pointer{
  cursor: pointer;
}

.text-white{
  color: white;
}
